.navbarLogo {
  &:hover .logoSvg {
    stroke: var(--ifm-color-primary);
  }

  .logoSvg {
    width: 1.5rem;
    height: 1.5rem;

    stroke: var(--ifm-font-color-base);

    // Match transition on navbar links
    transition: stroke var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);
  }
}
