@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Raleway&display=swap');

:root {
  --ifm-color-primary: #8a8a8a;

  --ifm-heading-font-family: 'Cormorant Garamond', serif;
  --ifm-font-family-base: 'Raleway', sans-serif;

  --ifm-navbar-padding-horizontal: 0;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-shadow: none;

  --ifm-link-color: var(--ifm-font-color-base);
  --ifm-link-hover-color: var(--ifm-color-primary);
  --ifm-link-hover-decoration: none;
}

[data-theme='light'] {
  --ifm-background-color: #f8f8f8;
  --ifm-navbar-background-color: #f8f8f8;
}

[data-theme='dark'] {
  --ifm-background-color: #1b1b1d;
  --ifm-navbar-background-color: #1b1b1d;
}

html {
  padding: 32px;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

@media (max-width: 996px) {
  html {
    padding: 0 var(--ifm-spacing-horizontal);
  }

  .navbar-sidebar {
    // Restore defaults
    --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
    --ifm-navbar-padding-vertical: calc(0.5 * var(--ifm-spacing-vertical));

    .menu {
      padding: 0; // Remove sidebar padding (leave padding to .menu__link)
    }

    .menu__list,
    .menu__list-item {
      margin-top: 0; // Remove excessive sidebar item spacing
    }

    .menu__link {
      padding: var(--ifm-navbar-padding-vertical)
        var(--ifm-navbar-padding-horizontal);
      border-radius: 0;
    }
  }
}

// -----------------------------------------------------------------------------
// flexanalytics/plugin-image-zoom
// -----------------------------------------------------------------------------

.medium-zoom-overlay {
  background: var(--ifm-background-color) !important;
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.medium-zoom-image--opened {
  z-index: calc(var(--ifm-z-index-fixed) + 2);
}
